.multipleChoiceQuiz, .strikeOutQuiz {
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    border-radius: 3px;
    background: #fff;
    text-align: left;
}
#quizSelector {
    padding: 0 40px;
    text-align: center;
}
.multipleChoiceQuiz .answer.selected, .strikeOutQuiz .answer.striked {
    box-shadow: 0 4px 4px rgba(0,0,0,.16), 0 4px 4px rgba(0,0,0,.23);
    z-index: 1;
}
.multipleChoiceQuiz .answer, .strikeOutQuiz .answer {
    border-top: solid 1px #eee;
    border-radius: 3px;
    background: #fff;
    padding: 20px;
    position: relative;
    transition: box-shadow ease-in 100ms;
    cursor: pointer;
}
#quizSelector .materialCheckbox .icon {
    float: left;
    width: 36px;
}
.materialCheckbox .icon {
    position: relative;
    width: 18px;
    height: 18px;
}
.materialCheckbox.selected .outline, .materialCheckbox input:checked~.icon .outline {
    transform: rotate(45deg);
    top: 13px;
    left: 5px;
    width: 4px;
    height: 4px;
    opacity: 0;
}
.materialCheckbox .outline {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border: solid 2px;
    border-color: #5a5a5a;
    transition: all ease-out 140ms;
    transition-property: transform,-webkit-transform,top,left,width,height,opacity;
}
.materialCheckbox.selected .fill, .materialCheckbox input:checked~.icon .fill {
    opacity: 1;
    top: -4px;
    left: 6px;
    width: 10px;
    height: 21px;
}
.materialCheckbox .fill {
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 13px;
    left: 5px;
    width: 4px;
    height: 4px;
    border-top: none;
    border-left: none;
    border-right: solid 2px;
    border-bottom: solid 2px;
    border-color: #0f9d58;
    transition: all ease-out 140ms;
    transition-property: top,left,width,height,opacity,border-right-width,border-bottom-width;
    transition-delay: 140ms;
    opacity: 0;
}
